@*@model IEnumerable<ProyectoNT.Models.Clase>*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clases Particulares</h1>
    <p>En esta página usted puede administrar sus clases particulares</p>
</div>
